{% extends 'main.html' %}
{% load static %}
{% block title %}
Centers
{% endblock %}
{% block content %}

<div class="section white hoverable">
    <div class="row container" >
        <div class="col s12">
            <div class="row">
                <div class="card  white">

                    <div class="card-content">
                        
                        <span class="card-title">Buscar Centros</span>
                        <div class="row">
                        
                            <div class="input-field col s12 ">
                                <input  type="search" class="autocomplete" id="name"  placeholder="Search">
                                <i id="btn_search" onclick="filterCenter()" class="material-icons center">search</i>
                                
                            </div>
                        </div>
                        <div class="row center">
                                <div class="col s1">
                                    Codigo
                                </div>
                                <div class="col s3">
                                    Centro
                                </div>
                                <div class="col s3">
                                    Latitud
                                </div>
                                <div class="col s3">
                                    Longitud
                                </div>
                            </div>
                        <div class="row" style="overflow: auto;height: 300px;">
                            
                            <ul class="collection with-header" id="centers">   
                                
                            </ul>
                        </div>
                        <script>
                            document.addEventListener('DOMContentLoaded',function () {
                                filterCenter()

                                var input = document.getElementById("name");
                                // Execute a function when the user releases a key on the keyboard
                                input.addEventListener("keyup", function(event) {
                                // Number 13 is the "Enter" key on the keyboard
                                if (event.keyCode === 13) {
                                    // Cancel the default action, if needed
                                    event.preventDefault();
                                    // Trigger the button element with a click
                                    document.getElementById("btn_search").click();
                                }
                                }); 
                                
                                var end_point = "/api/centers/"
                                
                                filter(end_point,function(data){
                                    var elems = document.querySelectorAll('.autocomplete');
                                    
                                    var data_qs = "{"
                                    for (i in data){
                                        
                                        data_qs += "\""+data[i].name + "\":null,"
                                    }

                                    data_qs += "}";
                                    data_qs = data_qs.replace(",}","}")
                                    
                                    
                                    var obj = JSON.parse(data_qs)
                                    
                                    var instances = M.Autocomplete.init(elems, {data: obj,onAutocomplete:function(){filterCenter()} });
                                });
                                
                            });
                        </script>
                    
                    </div>
                    
                </div>
            </div>
        </div
    </div>
</div>




{%endblock%}