{% extends 'main.html' %}
{% load static %}
{% block title %}
Center
{% endblock %}
{% block content %}

<div class="section white hoverable">
    <div class="row container" >
        <div class="col s12">
            <div class="row center" >
                <h5>Centro {{center.name}}</h5>
            
            </div>
            <div class="card white">
                <div class="card-content">
                    <table class=" highlight centered responsive-table">
                        <thead>
                            <span class="card-title">Centro</span>
                            <div class="divider"></div>
                            <tr>
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Zona</th>
                                <th>Latitud</th>
                                <th>Longitud</th>
                            </tr>
                        </thead>

                        <tbody >
                            <tr>
                                <td>{{center.code}}</td>
                                <td>{{center.name}}</td>
                                <td>{{center.zone}}</td>
                                <td>{{center.latitude}}</td>
                                <td>{{center.longitude}}</td>
                                
                            </tr> 
                        </tbody>
                    </table>
                </div>
                <div class="card-action">
                    <span class="card-title">Cambiar coordenadas</span>
                    
                    
                    <form method="POST" >
                        {%csrf_token%}
                        {{ center_form.as_p }}
                        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Elegir ubicacion en el mapa</a>

                        <!-- Modal Structure -->
                        <div id="modal1" class="modal">
                            <div class="modal-content">
                            <h4>Toca en el mapa para editar ubicacion</h4>
                            <div id="map" class="col s12 " ></div>
                            </div>
                            <div class="modal-footer">
                            <a  class="modal-close waves-effect waves-red btn-flat">cancelar</a>
                            <a  id="ok" class="modal-close waves-effect waves-green btn-flat">Guardar</a>
                            </div>
                        </div>
                        <input type="submit" class="btn" value="Guardar">
                        
                    </form>
                    
                                
                    
                    <script src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&callback=editMarker&libraries=places,drawing" async></script>
                    
                </div>
            </div>
            
        </div>
    </div>
</div>




{%endblock%}