{% extends 'main.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block content %}
<style>
.single-line {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
  width:100%
}
</style>
<div class="section white hoverable">
    <div class="row container" >
        <div class="col s12" >
            <div class="row center" >
            <h5>Diagnostico {{diagnostico.nombre}}</h5>
            </div>
            
            <canvas id="myChart" width="100" height="100"></canvas>
            <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            const labels = [{% for i in medias %}{{i.year}},2022{% endfor %}]
            const data = {
            labels: labels,
            datasets: [{
                label: 'Peligro',
                data: [{% for i in medias %}{{i.rangoSuperior}},2500{% endfor %}],
                
                
                borderColor: 'rgba(255,0,0,0.8)',
                
                tension: 0.1
            },
            {
                label: 'media',
                data: [{% for i in medias %}{{i.media}},500{% endfor %}],
                fill: {target: '0'},
                backgroundColor: 'rgba(255, 28, 64, 0.4)',
                borderColor: 'rgba(255,255,0,0.8)',
                
                
                tension: 0.1
            },
            {
                label: 'Ok',
                data: [{% for i in medias %}{{i.rangoInferior}},100{% endfor %}],
                fill: {target: '1' },
                backgroundColor: 'rgba(203, 148, 85, 0.4)',
                borderColor: 'rgba(0,255,0,0.8)',
                
                tension: 0.1
            }]
            };
            const config = {
                type: 'line',
                data: data,
                
            };
            var myChart = new Chart(ctx,config)
            </script>

            
            
        </div>

    </div>
</div>




{%endblock%}