{% extends 'main.html' %}
{% load static %}
{% block title %}
Diagnosticos
{% endblock %}

{% block script %}
    <script src="{% static 'js/smain.js'%}" defer></script>
{% endblock %}
{% block content %}
<style>
.single-line {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
  width:100%
}
</style>
<div class="section white hoverable">
    <div class="row" >
        <div class="col s12 s8 l8">
            <div class="card-content ">
                <span class="card-title">Buscar Diagnosticos</span>
                


                <div class="row">
                    <div class="input-field col s12 ">
                        <input  type="search" class="autocomplete" id="name"  placeholder="Search" autocomplete="off">
                        <i id="btn_search" onclick="filterDiagnostic()" class="material-icons center">search</i>

                    </div>
                </div>
                <div class="row center">
                        <div class="col s2">
                            Codigo
                        </div>
                        <div class="col s10">
                            Centro
                        </div>
                </div>
                <div class="row" style="overflow: auto;height: 300px;">

                    <ul class="collection with-header" id="diagnostics">

                    </ul>
                </div>
                <script>

                    document.addEventListener('DOMContentLoaded',function () {
                        filterDiagnostic()
                        var input = document.getElementById("name");
                        // Execute a function when the user releases a key on the keyboard
                        input.addEventListener("keyup", function(event) {
                        // Number 13 is the "Enter" key on the keyboard
                        if (event.keyCode === 13) {
                            // Cancel the default action, if needed
                            event.preventDefault();
                            // Trigger the button element with a click
                            document.getElementById("btn_search").click();
                        }
                        }); 
                        var end_point = "/api/diagnostics/"
                        
                        filter(end_point,function(data){
                            var elems = document.querySelectorAll('.autocomplete');
                            
                            var data_qs = "{"
                            for (i in data){
                                
                                data_qs += "\""+data[i].name.replace("            ","").replace("\"","") + "\":null,\n"
                            }
                            
                            data_qs += "}";
                            data_qs = data_qs.replace(",\n}","}")
                            
                            
                            
                            var obj = JSON.parse(data_qs)
                            
                            var instances = M.Autocomplete.init(elems, {data: obj,onAutocomplete:function(){filterDiagnostic()} });
                        });
                        
                    });
                </script>
                
            </div>
        </div>


        <div class="col s12 s4 l4" >
            <div class="row center" >
            <h5>Alertas de la semana {{ max_week.week}} del año {{ max_week.year.year}}</h5>
            </div>

            {% for i in alerts %}
            <div class="row " >
                <div class="col s2" >{{i.diagnostic.code}}</div>
                <div class="col s9 single-line" ><a href="{% url 'diagnostic'  i.diagnostic.code %}">{{i.diagnostic.name}}</a></div>

                <div class="col s1" >{{i.cases}}</div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>




{%endblock%}