{% extends 'main.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block content %}

<div class="section white hoverable">
    <div class="row container" >
        <div class="col s12" >
            <div class="row center" >
            <h2>Alertas de la semana {{semana.semana}}</h2>
            </div>
            <div class="row left" >
            
            
            {% for i in pacientePorDiagnosticos %}
            
            <div class="col s1" >{{i.diagnostico.codigo}}</div>
            <div class="col s10" >{{i.diagnostico.nombre}}</div>
            
            <div class="col s1" >{{i.cantPacientePorDiagnostico}}</div>
            
            
            
            
            {% endfor %}
            
            <div class="pagination">
                <span class="step-links">
                    {% if pacientePorDiagnosticos.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ pacientePorDiagnosticos.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ pacientePorDiagnosticos.number }} of {{ pacientePorDiagnosticos.paginator.num_pages }}.
                    </span>

                    {% if pacientePorDiagnosticos.has_next %}
                        <a href="?page={{ pacientePorDiagnosticos.next_page_number }}">next</a>
                        <a href="?page={{ pacientePorDiagnosticos.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            </div>
        </div>

    </div>
</div>




{%endblock%}