{% extends 'main.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block content %}
<style>

</style>
<div class="section white hoverable">
    <div class="row container" >
        <div class="stackedit__html"><h1 id="centro-de-ayuda">Centro de Ayuda</h1>
            <p>Datamun es una aplicación creada con el propósito de crear gráficos epidemiológicos a partir de datos previamente subidos, esta a su vez, posee la opción de 4 (cuatro) gráficos diferentes siendo estos:</p>
            <ul>
                <li>
                    <p>Grafico por método de Promedio</p>
                </li>
                <li>
                    <p>Grafico por método de Promedio Acumulativo</p>
                </li>
                <li>
                    <p>Grafico por método de Cuartiles</p>
                </li>
                <li>
                    <p>Grafico por método de Cuartiles Acumulativo</p>
                </li>
            </ul>
            <p>Además, presenta un mapa para poder localizar geográficamente la cantidad de casos en cada dispensario.</p>
            <br>
            <br>
            <h3 id="¿como-subir-un-archivo">¿Como subir un Archivo?</h3>
            <ol>
                <li>
                    <p>Para subir un archivo a DataMun es necesario verificar que la extensión del archivo sea la apropiada, tiene que terminar en <strong>.xlsx</strong>,  es decir un archivo Microsoft Excel.</p>
                </li>
                <br>
                <li>
                    <p>También es necesario asegurarse que las hojas dentro del archivo Excel estén nombradas de forma correcta, <strong>año</strong> <em>[espacio]</em> <strong>semana</strong>, (Ejemplo: <strong>2018 1</strong>) esto es necesario para que se logre subir correctamente.</p>
                </li>
            </ol>
            <img src="{% static '/media/Imagen1.png' %}" style="width: 100%">
            <ol start="3">
                <br>
                <br>
                <li>Presionar la pestaña de “Subir Archivo”.</li>
            </ol>
            <img src="{% static '/media/Imagen2.png' %}" style="width: 100%">
            <ol start="4">
                <br>
                <br>
                <li>Seleccionar el archivo que se desea subir, a través del botón “Seleccionar Archivo” y luego presionar “subir archivo”.</li>
            </ol>
            <img src="{% static '/media/Imagen3.png' %}" style="width: 100%">
            <h3 id="¿como-revisar-los-diagnósticos">¿Como revisar los diagnósticos?</h3>
            <p>Una vez subido el archivo, se debe ir a la pestaña de <strong>Diagnóstico</strong> y utilizar el buscador para ingresar a el diagnostico deseado.</p>
            <img src="{% static '/media/Imagen4.png' %}" style="width: 100%">
            <br>
            <br>
            <h3 id="alertas">Alertas</h3>
            <p>Si se quiere activar las alertas de un diagnostico, debe entrar a dicho diagnostico y marcar la casilla correspindiente y guardar los cambios.</p>
            <img src="{% static '/media/Imagen5.png' %}" style="width: 50%">
        </div>
    </div>
</div>




{%endblock%}