{% load static %}
{% url 'home' as home_url %}
{% url 'login' as login_url %}
{% url 'register' as register_url %}
{% url 'logout' as logout_url %}
{% url 'uploadFile' as uploadFile_url %}
{% url 'centers' as centers_url %}
{% url 'diagnostics' as diagnostics_url %}
{% url 'perfil' as perfil_url %}
<ul id="dropdown1" class="dropdown-content">

	{% if request.user.is_authenticated %}
	
	<li><a href="{{perfil_url}}"><i class="material-icons top">account_circle</i>Perfil</a></li>
    <li><a href="{{logout_url}}"><i class="material-icons top">logout</i>Log out</a></li>
	{% else %}
	<li><a class="black-text" href="{{login_url}}">Iniciar Sesion</a></li>
	<li><a  href="{{register_url}}">Registrarse</a></li>
	{% endif %}
</ul>
<ul id="dropdown2" class="dropdown-content">

	{% if request.user.is_authenticated %}
	<li><a href="{{perfil_url}}"><i class="material-icons top">account_circle</i>Perfil</a></li>
    <li><a href="{{logout_url}}"><i class="material-icons top">logout</i>Log out</a></li>
	{% else %}
	<li><a class="black-text" href="{{login_url}}">Iniciar Sesion</a></li>
	<li><a  href="{{register_url}}">Registrarse</a></li>
	{% endif %}
</ul>
<nav class="white nav-extended" role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" href="{{home_url}}" class="brand-logo lack-text black-text"><img src="{% static '/media/logo.png' %}" alt="Damu" height="64px" loading="lazy"></a>
		
		<ul class="right hide-on-med-and-down">
			<li><a  class="black-text" href="{{home_url}}"><i class="material-icons left">home</i>Inicio</a></li>
			<li><a  class="black-text" href=""><i class="material-icons left">book</i>Somos</a></li>
			<li><a  class="black-text" href="{{centers_url}}"><i class="material-icons left">local_hospital</i>Centros</a></li>
			<li><a  class="black-text" href="{{diagnostics_url}}"><i class="material-icons left">colorize</i>Diagnosticos</a></li>
			<li><a  class="black-text" href="{{uploadFile_url}}"><i class="material-icons left">attach_file</i>Subir Archivo</a></li>
		    <li><a class="dropdown-trigger black-text" href="#!" data-target="dropdown2"><i class="material-icons right">arrow_drop_down</i>Cuenta                .</a></li>

        </ul>
		<a  href="#" data-target="slide-out" class="sidenav-trigger black-text"><i class="material-icons">menu</i></a>
		
	</div>
	

</nav>



<ul id="slide-out" class="sidenav">
	<li><a  class="black-text" href="{{home_url}}"><i class="material-icons left">home</i>Inicio</a></li>
	<li><a  class="black-text" href=""><i class="material-icons left">book</i>Somos</a></li>
	<li><a  class="black-text" href="{{centers_url}}"><i class="material-icons left">local_hospital</i>Centros</a></li>
	<li><a  class="black-text" href="{{diagnostics_url}}"><i class="material-icons left">colorize</i>Diagnosticos</a></li>
	<li><a  class="black-text" href="{{uploadFile_url}}"><i class="material-icons left">attach_file</i>Subir Archivo</a></li>
	<li><a class="dropdown-trigger black-text" href="#!" data-target="dropdown1"><i class="material-icons right">arrow_drop_down</i>Cuenta                 .</a></li>
</ul>

<script>


document.addEventListener('DOMContentLoaded', function() {
	var elems = document.querySelectorAll('.sidenav');

	var instances = M.Sidenav.init(elems, 'left',{
		edge: 'left',
		draggable: true,
		preventScrolling: true
	});
});
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems,{coverTrigger: false});
  });




        

        

  
</script>
  